@charset "UTF-8";
/***

FONTS CSS 

***/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/***

NORMALIZE CSS 

***/
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***

SLICK CSS 

***/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -8px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "Arial";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "Arial";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/***

RESET CSS 

***/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!*/
:focus {
  outline: none;
}

/* Remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* WordPress Generated Classes */
del, strike {
  text-decoration: line-through;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.entry-content img {
  margin: 0 0 20px 0;
}

.alignleft, img.alignleft {
  margin-right: 25px;
  margin-bottom: 25px;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 25px;
  margin-bottom: 25px;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  max-width: 100%;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

/***

MAIN CSS 

***/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  font-size: 13px;
  line-height: 24px;
  color: #333;
  font-weight: 400;
  overflow-x: hidden;
}

.clr {
  clear: both;
}

img {
  position: relative;
  z-index: 0;
}

a {
  color: #333;
  text-decoration: none;
  outline: 0;
  transition: all 0.5s ease 0.1s;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

a:active, a:focus {
  outline: 0;
}

input {
  -webkit-appearance: none !important;
  border-radius: 0 !important;
}

.hidden {
  display: none;
}

.opacity {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.5;
}

.autocomplete-suggestions {
  background-color: white;
  z-index: 50;
  overflow: auto;
}

.autocomplete-suggestions::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background-color: #c0392b;
  outline: 1px solid #c0392b;
}

.autocomplete-suggestion {
  padding: 15px 15px;
  font-size: 18px;
  border-radius: 4px !important;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 3;
}

.autocomplete-suggestion:hover {
  background-color: #d1d1d1;
}

.autocomplete-no-suggestion {
  padding: 15px 15px;
  font-size: 18px;
  border-radius: 4px !important;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

section#welcome {
  position: relative;
  width: 100%;
  background: url(../images/background.jpg) no-repeat fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
section#welcome .content {
  display: block;
  z-index: 1;
  position: relative;
}
section#welcome .content h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
section#welcome .content h2 {
  font-size: 20px;
  text-align: center;
}
section#welcome .content .keuze {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 90px auto 0;
}
section#welcome .content .keuze .block .plattegrond {
  display: block;
  width: 400px;
  height: 400px;
  background: #e74c3c;
  color: white;
  text-align: center;
  line-height: 400px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 18px;
}
section#welcome .content .keuze .block .plattegrond:hover {
  background: #c0392b;
}
section#welcome .content .keuze .block .agenda {
  display: block;
  width: 400px;
  height: 85px;
  background: #e74c3c;
  color: white;
  text-align: center;
  line-height: 85px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
}
section#welcome .content .keuze .block .agenda:hover {
  background: #c0392b;
}
section#welcome .content .keuze .block .agenda:last-child {
  margin-bottom: 0;
}

section#plattegrond {
  position: relative;
  display: none;
  width: 100%;
  background: url(../images/background-2.jpg) no-repeat fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
section#plattegrond .header {
  position: relative;
  z-index: 2;
  width: 1200px;
  margin: 0 auto;
}
section#plattegrond .header input {
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 4px !important;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  height: 57px;
  border: none;
}
section#plattegrond .header #selected-tag {
  position: absolute;
  top: 30px;
  padding: 15px;
  width: 100%;
  background: #27ae60;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 27px;
  height: 57px;
}
section#plattegrond .header #selected-tag #reset-search {
  display: inline-block;
  position: relative;
  height: 14px;
}
section#plattegrond .header #selected-tag #reset-search img {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-left: 8px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
section#plattegrond .loodsen {
  position: relative;
  z-index: 2;
  width: 1200px;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-between;
}
section#plattegrond .loodsen .loods {
  width: 100%;
}
section#plattegrond .loodsen .loods h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}
section#plattegrond .loodsen .loods .map {
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  height: 765px;
  border-radius: 4px;
  position: relative;
  font-size: 12px;
  text-align: center;
}
section#plattegrond .loodsen .loods .map .company {
  width: 18%;
  height: 50px;
  cursor: pointer;
  transition: background 0.6s ease 0.1s;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  position: absolute;
  top: -100px;
  background-color: #27ae60;
}
section#plattegrond .loodsen .loods .map .company span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 18px;
}
section#plattegrond .loodsen .loods .map .company.highlight {
  transition: background 0.6s ease 0.1s;
  opacity: 1 !important;
}
section#plattegrond .loodsen .loods .map .company.bende {
  width: 170px;
  height: 120px;
  top: 0;
  left: 0;
  border-radius: 4px 0 0 0;
}
section#plattegrond .loodsen .loods .map .company.bende.two {
  width: 170px;
  height: 95px;
  top: 0px;
  left: 195px;
  border-radius: 0;
}
section#plattegrond .loodsen .loods .map .company.spacecreators {
  width: 140px;
  height: 60px;
  top: 120px;
  left: 0;
}
section#plattegrond .loodsen .loods .map .company.magic-designz {
  width: 140px;
  height: 80px;
  top: 180px;
  left: 0;
}
section#plattegrond .loodsen .loods .map .company.meesterlijk-stofferen {
  width: 140px;
  height: 80px;
  top: 260px;
  left: 0;
}
section#plattegrond .loodsen .loods .map .company.verbaasde-ree {
  width: 140px;
  height: 120px;
  top: 340px;
  left: 0;
}
section#plattegrond .loodsen .loods .map .company.united-enterprises {
  width: 140px;
  height: 80px;
  top: 460px;
  left: 0;
}
section#plattegrond .loodsen .loods .map .company.mobile-escape-room {
  width: 140px;
  height: 100px;
  top: 565px;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.event-motor-company {
  width: 110px;
  height: 100px;
  top: 665px;
  left: 0;
}
section#plattegrond .loodsen .loods .map .company.dansvloer {
  width: 155px;
  height: 50px;
  top: 110px;
  left: 210px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.in-scene-gezet {
  width: 155px;
  height: 50px;
  top: 160px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.puk-bresser {
  width: 155px;
  height: 50px;
  top: 210px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.studio-met {
  width: 155px;
  height: 50px;
  top: 260px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.a-design {
  width: 155px;
  height: 50px;
  top: 310px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.carlo-walter {
  width: 155px;
  height: 50px;
  top: 360px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.funkie {
  width: 155px;
  height: 100px;
  top: 410px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.alex-zaagt {
  width: 155px;
  height: 50px;
  top: 510px;
  left: 210px;
}
section#plattegrond .loodsen .loods .map .company.edutones {
  width: 145px;
  height: 60px;
  top: 615px;
  left: 220px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.john-wood-cases {
  width: 145px;
  height: 90px;
  top: 675px;
  left: 220px;
}
section#plattegrond .loodsen .loods .map .company.joost-goudriaan {
  width: 150px;
  height: 95px;
  top: 0px;
  left: 365px;
  border-left: none;
}
section#plattegrond .loodsen .loods .map .company.beerda-timmerwerk {
  width: 150px;
  height: 50px;
  top: 110px;
  left: 365px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
}
section#plattegrond .loodsen .loods .map .company.beerda-timmerwerk.two {
  width: 150px;
  height: 100px;
  top: 160px;
  left: 365px;
  border-top: none;
}
section#plattegrond .loodsen .loods .map .company.staalslagerij {
  width: 150px;
  height: 160px;
  top: 260px;
  left: 365px;
  border-left: none;
}
section#plattegrond .loodsen .loods .map .company.weller-design {
  width: 150px;
  height: 50px;
  top: 420px;
  left: 365px;
  border-left: none;
}
section#plattegrond .loodsen .loods .map .company.sanitair {
  width: 140px;
  height: 50px;
  top: 490px;
  left: 365px;
  border-left: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.pixelbar {
  width: 175px;
  height: 150px;
  top: 615px;
  left: 365px;
  border-left: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.letolab {
  width: 85px;
  height: 50px;
  top: 615px;
  left: 455px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.project-ruimte {
  width: 125px;
  height: 150px;
  top: 615px;
  left: 560px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.studio-selma-hamstra {
  width: 45px;
  height: 150px;
  top: 615px;
  left: 685px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
}
section#plattegrond .loodsen .loods .map .company.man-van-hout {
  width: 150px;
  height: 300px;
  top: 0;
  left: 580px;
}
section#plattegrond .loodsen .loods .map .company.rinke-van-wilegen {
  width: 150px;
  height: 80px;
  top: 300px;
  left: 580px;
}
section#plattegrond .loodsen .loods .map .company.ton-van-gilst-design {
  width: 150px;
  height: 65px;
  top: 380px;
  left: 580px;
}
section#plattegrond .loodsen .loods .map .company.gedeelde-machinale-werkplaats {
  width: 150px;
  height: 115px;
  top: 445px;
  left: 580px;
}
section#plattegrond .loodsen .loods .map .company.banana-bread {
  width: 120px;
  height: 100px;
  top: 0;
  border-top: none;
  left: 735px;
}
section#plattegrond .loodsen .loods .map .company.give-a-bike-foundation {
  width: 120px;
  height: 75px;
  top: 100px;
  left: 735px;
}
section#plattegrond .loodsen .loods .map .company.buurman {
  width: 120px;
  height: 345px;
  top: 215px;
  left: 735px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.buurman.extra {
  height: 41px;
  width: 60px;
  top: 175px;
  left: 735px;
  border-bottom: none;
  border-top: none;
}
section#plattegrond .loodsen .loods .map .company.buurman.two {
  height: 150px;
  width: 120px;
  top: 615px;
  left: 735px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.buurman.three {
  height: 150px;
  width: 25px;
  top: 615px;
  left: 860px;
}
section#plattegrond .loodsen .loods .map .company.guyot-duquesnoy {
  width: 45px;
  height: 85px;
  top: 90px;
  left: 860px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.buro-van-wieren {
  width: 110px;
  height: 100px;
  top: 240px;
  left: 860px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section#plattegrond .loodsen .loods .map .company.buro-van-wieren.extra {
  width: 60px;
  height: 26px;
  top: 215px;
  left: 860px;
  border-bottom: none;
}
section#plattegrond .loodsen .loods .map .company.just-just {
  width: 100px;
  height: 80px;
  top: 340px;
  left: 860px;
}
section#plattegrond .loodsen .loods .map .company.studio-jom-heidekamp {
  width: 140px;
  height: 140px;
  top: 420px;
  left: 860px;
}
section#plattegrond .loodsen .loods .company-opacity {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.5;
  display: none;
  cursor: pointer;
}
section#plattegrond .loodsen .loods .company-contents {
  position: relative;
  z-index: 2;
}
section#plattegrond .loodsen .loods .company-contents .display {
  display: none;
  position: fixed;
  background: #fff;
  color: #333;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 1200px;
  height: auto;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: auto;
}
section#plattegrond .loodsen .loods .company-contents .display .close-display {
  position: absolute;
  right: 0;
  top: 0;
  background: #e24f49;
  width: 16px;
  height: 16px;
  padding: 8px;
  cursor: pointer;
}
section#plattegrond .loodsen .loods .company-contents .display .company-logo {
  display: block;
  margin: 0 auto 40px;
  width: 250px;
  object-fit: cover;
  height: 250px;
}
section#plattegrond .loodsen .loods .company-contents .display h1 {
  font-size: 36px;
  letter-spacing: 1.6px;
  padding-bottom: 30px;
  text-align: center;
}
section#plattegrond .loodsen .loods .company-contents .display p {
  font-size: 16px;
  margin-bottom: 20px;
}
section#plattegrond .loodsen .loods .company-contents .display .slick-slider {
  margin-bottom: 0px;
}
section#plattegrond .loodsen .loods .company-contents .display .slick-slider .slick-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/***

RESPONSIVE CSS 

***/
