
$pri-font : 'Roboto', sans-serif;
$pri-color : #333;
$sec-color: #C03539;
$def-fontweight: 400;

@mixin bg-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin placeholder-color($color){
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    $color;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    $color;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:    $color;
	}
}

*{
	margin:0;
	padding:0;
}
body{
	font-family:$pri-font;
	letter-spacing: 0.2px;
	font-size:13px;
	line-height: 24px;
	color:$pri-color;
	font-weight:$def-fontweight;
	overflow-x:hidden;
}
.clr{
	clear:both;
}
img{
	position:relative;
	z-index:0;
}
a{
	color: $pri-color;
	text-decoration: none;
	outline: 0;
	transition: all 0.5s ease 0.1s;
}
a:hover{
	text-decoration: none;
	outline: 0;
}
a:active, a:focus {
	outline: 0;
}
input {
    -webkit-appearance: none !important;
    border-radius: 0 !important;
}
.hidden {
	display: none;
}
.opacity {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0.5;
}
.autocomplete-suggestions {
    background-color: white;
    z-index: 50;    
    overflow: auto;
}
.autocomplete-suggestions::-webkit-scrollbar {
    width: 8px;
}
 
.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background-color: #c0392b;
  outline: 1px solid #c0392b;
}
.autocomplete-suggestion{
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 4px !important;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 3;
}
.autocomplete-suggestion:hover {
    background-color: #d1d1d1;
}
.autocomplete-no-suggestion {
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 4px !important;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
}
section#welcome {
    position: relative;
    width: 100%;
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
	.content {
		display: block;
	    z-index: 1;
	    position: relative;
		h1 {
		    font-size: 32px;
		    text-transform: uppercase;
		    letter-spacing: 2.2px;
		    font-weight: 700;
		    text-align: center;
		    padding-top: 100px;
		    padding-bottom: 30px;
		}
		h2 {
		    font-size: 20px;
		    text-align: center;
		}
		.keuze {
		    display: flex;
		    justify-content: space-around;
		    width: 1200px;
		    margin: 90px auto 0;
		    .block {
	    		.plattegrond {
				    display: block;
				    width: 400px;
				    height: 400px;
				    background: #e74c3c;
				    color: white;
				    text-align: center;
				    line-height: 400px;
				    font-weight: 700;
				    text-transform: uppercase;
				    border-radius: 4px;
				    font-size: 18px;
				    &:hover {
				    	background: #c0392b;
				    }
				}
				.agenda {
					display: block;
				    width: 400px;
				    height: 85px;
				    background: #e74c3c;
				    color: white;
				    text-align: center;
				    line-height: 85px;
				    font-weight: 700;
				    text-transform: uppercase;
				    border-radius: 4px;
				    font-size: 18px;
				    margin-bottom: 20px;
				    &:hover {
				    	background: #c0392b;
				    }
				    &:last-child {
				    	margin-bottom: 0;
				    }
				}
		    }
		}
	}
}
section#plattegrond {
    position: relative;
    display: none;
    width: 100%;
    background: url(../images/background-2.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    .header {
        position: relative;
	    z-index: 2;
	    width: 1200px;
	    margin: 0 auto;
	    input {
	        padding: 15px 15px;
    		font-size: 20px;
		    border-radius: 4px !important;
		    width: 100%;
		    box-sizing: border-box;
		    margin-top: 30px;
  		  	height: 57px;  		  	
    		border: none;
	    }
	    #selected-tag {
            position: absolute;
		    top: 30px;
		    padding: 15px;
		    width: 100%;
		    background: #fff;
		    border-radius: 4px;
		    color: #333;
		    font-size: 20px;
		    box-sizing: border-box;
		    line-height: 27px;
    		height: 57px;
		    #reset-search {
			    display: inline-block;
			    position: relative;
			    height: 14px;
		    	img {
				    cursor: pointer;
				    height: 18px;
				    width: 18px;    
				    margin-left: 8px;
				    top: 50%;
				    position: absolute;
				    transform: translateY(-50%);
				}
			}
		}
	}
	.loodsen {
	    position: relative;
	    z-index: 2;
	    width: 1200px;
	    margin: 25px auto 0;
	    display: flex;
	    justify-content: space-between;
	    .loods {
	    	width: 100%;
	    	h2 {
	    		font-size: 20px;
		    	text-align: center;
		    	margin-bottom: 25px;
	    	}
	    	.map {
			    width: 100%;
			    background: #656565;
			    height: 765px;
			    border-radius: 4px;
   				position: relative;
			    font-size: 12px;
			    text-align: center;
		        -webkit-clip-path: polygon(61% 0, 91% 9%, 100% 80%, 100% 100%, 0 100%, 0 60%, 0 0);
				clip-path: polygon(61% 0, 91% 9%, 100% 80%, 100% 100%, 0 100%, 0 60%, 0 0);
			    .company {
				    width: 18%;
				    height: 50px;
				    cursor: pointer;				    
				    transition: background 0.6s ease 0.1s;
			        box-sizing: border-box;
    				border: 1px solid rgba(0,0,0,0.3);
    				border-top: none;
				    position: absolute;
    				top: -100px;
    				background-color: #27ae60;
    				span {
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translateX(-50%) translateY(-50%);
    					line-height: 18px;
					}
				    &.highlight {
					    transition: background 0.6s ease 0.1s;
					    opacity: 1 !important;
					}
					&.bende {
						width: 170px;
						height: 120px;
						top: 0;
						left: 0;
   						border-radius: 4px 0 0 0;
						&.two {
							width: 170px;
							height: 95px;
							top: 0px;
							left: 195px;
   							border-radius: 0;
						}
					}
					&.spacecreators {
						width: 140px;
						height: 60px;
						top: 120px;
						left: 0;
					}
					&.magic-designz {
						width: 140px;
						height: 80px;
						top: 180px;
						left: 0;
					}
					&.meesterlijk-stofferen {
						width: 140px;
						height: 80px;
						top: 260px;
						left: 0;
					}
					&.verbaasde-ree {
						width: 140px;
						height: 120px;
						top: 340px;
						left: 0;
					}
					&.united-enterprises {
						width: 140px;
						height: 80px;
						top: 460px;
						left: 0;
					}
					&.mobile-escape-room {
						width: 140px;
						height: 100px;
						top: 565px;
						left: 0;
						border-top: 1px solid rgba(0,0,0,0.3);
					}
					&.event-motor-company {
						width: 110px;
						height: 100px;
						top: 665px;
						left: 0;
					}
					&.dansvloer {
						width: 155px;
						height: 50px;
						top: 110px;
						left: 210px;
						border-top: 1px solid rgba(0,0,0,0.3);
					}
					&.in-scene-gezet {
						width: 155px;
						height: 50px;
						top: 160px;
						left: 210px;
					}
					&.puk-bresser {
						width: 155px;
						height: 50px;
						top: 210px;
						left: 210px;
					}

					&.studio-met {
						width: 155px;
						height: 50px;
						top: 260px;
						left: 210px;
					}
					&.a-design {
						width: 155px;
						height: 50px;
						top: 310px;
						left: 210px;
					}
					&.carlo-walter {
						width: 155px;
						height: 50px;
						top: 360px;
						left: 210px;
					}
					&.funkie {
						width: 155px;
						height: 100px;
						top: 410px;
						left: 210px;
					}
					&.alex-zaagt {
						width: 155px;
						height: 50px;
						top: 510px;
						left: 210px;
					}
					&.edutones {
						width: 145px;
						height: 60px;
						top: 615px;
						left: 220px;						
						border-top: 1px solid rgba(0,0,0,0.3);
					}
					&.john-wood-cases {
						width: 145px;
						height: 90px;
						top: 675px;
						left: 220px;
					}
					&.joost-goudriaan {
						width: 150px;
						height: 95px;
						top: 0px;
						left: 365px;
    					border-left: none;
					}
					&.beerda-timmerwerk {
					    width: 150px;
					    height: 50px;
					    top: 110px;
					    left: 365px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					    border-left: none;
					    &.two {
					    	width: 150px;
						    height: 100px;
						    top: 160px;
						    left: 365px;
						    border-top: none;
					    }
					}
					&.staalslagerij {
						width: 150px;
					    height: 160px;
					    top: 260px;
					    left: 365px;
					    border-left: none;
					}
					&.weller-design {
						width: 150px;
					    height: 50px;
					    top: 420px;
					    left: 365px;
					    border-left: none;
					}
					&.sanitair {
						width: 140px;
					    height: 50px;
					    top: 490px;
					    left: 365px;
					    border-left: none;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					    &.two {
				    	    width: 70px;
						    height: 20px;
						    top: 490px;
						    border-top: none;
						    left: 1110px;
					    }
					}
					&.pixelbar {
					    width: 175px;
					    height: 150px;
					    top: 615px;
					    left: 365px;
					    border-left: none;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					}
					&.letolab {
				        width: 85px;
					    height: 50px;
					    top: 615px;
					    left: 455px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					}
					&.project-ruimte {
					    width: 125px;
					    height: 150px;
					    top: 615px;
					    left: 560px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					}
					&.studio-selma-hamstra {
				        width: 45px;
					    height: 150px;
					    top: 615px;
					    left: 685px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					    border-left: none;
					}
					&.man-van-hout {
				        width: 150px;
					    height: 300px;
					    top: 0;
					    left: 580px;
					}
					&.rinke-van-wilegen {
				        width: 150px;
					    height: 80px;
					    top: 300px;
					    left: 580px;
					}
					&.ton-van-gilst-design {
				        width: 150px;
					    height: 65px;
					    top: 380px;
					    left: 580px;
					}
					&.gedeelde-machinale-werkplaats {
			            width: 150px;
					    height: 115px;
					    top: 445px;
					    left: 580px;
					}
					&.banana-bread {
						width: 120px;
						height: 100px;
						top: 0;
						border-top: none;
						left: 735px;
					}
					&.give-a-bike-foundation {
						width: 120px;
						height: 75px;
						top: 100px;
						left: 735px;
					}
					&.buurman {
						width: 120px;
						height: 345px;
						top: 215px;
						left: 735px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3); 
						&.extra {
							height: 41px;
							width: 60px;
							top: 175px;
							left: 735px;
    						border-bottom: none;
						    border-top: none;
						}
						&.two {
							height: 150px;
							width: 120px;
							top: 615px;
							left: 735px;
							border-top: 1px solid rgba(0, 0, 0, 0.3); 
						}
						&.three {
							height: 150px;
							width: 25px;
							top: 615px;
							left: 860px;
						}
						&.four {
							height: 150px;
							width: 90px;
							top: 615px;
							left: 935px;
							span {
							    top: 25%;
							}
						}
					}
					&.guyot-duquesnoy {
						width: 45px;
						height: 85px;
						top: 90px;
						left: 860px;
						border-top: 1px solid rgba(0, 0, 0, 0.3); 
					}
					&.buro-van-wieren {
						width: 110px;
						height: 100px;
						top: 240px;
						left: 860px;
						border-top: 1px solid rgba(0, 0, 0, 0.3); 
						&.extra {
						    width: 60px;
						    height: 26px;
						    top: 215px;
						    left: 860px;
						    border-bottom: none;
						}
					}
					&.just-just {
						width: 100px;
						height: 80px;
						top: 340px;
						left: 860px;
					}
					&.studio-jom-heidekamp {
						width: 140px;
						height: 140px;
						top: 420px;
						left: 860px;
						span {
							top: 20%;
						}
					}
					&.annette-vermeij {
					    width: 60px;
					    height: 85px;
					    top: 475px;
					    left: 860px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
					}
					&.assy-metree {
					    width: 60px;
					    height: 85px;
					    top: 475px;
					    left: 920px;
					    border-top: 1px solid rgba(0, 0, 0, 0.3);
				        border-left: none;
					}
					&.friends-of-the-family {
					    width: 175px;
					    height: 90px;
					    top: 40px;
					    left: 940px;
					}
					&.cosmic-carnaval {
					    width: 190px;
					    height: 80px;
					    top: 130px;
					    left: 940px;
					}
					&.bouwer {
					    width: 145px;
					    height: 70px;
					    top: 210px;
					    left: 995px;
					}
					&.sil-krol {
					    width: 105px;
					    height: 75px;
					    top: 280px;
					    left: 1050px;
					}
					&.art-in-marble {
					    width: 115px;
					    height: 55px;
					    top: 355px;
					    left: 1050px;
					}
					&.hokori {
					    width: 125px;
					    height: 80px;
					    top: 410px;
					    left: 1050px;
					}
					&.studio-lentekind {
					    width: 140px;
					    height: 50px;
					    top: 510px;
					    left: 1050px;
					}
					&.gemeenschappelijke-keuken {
					    width: 110px;
					    height: 90px;
					    top: 560px;
					    left: 1090px;
					}
					&.entree {
				        width: 100px;
					    height: 65px;
					    top: 685px;
					    left: 980px;
					    border-top: 1px solid rgba(0,0,0,0.3);
					}
					&.outside {
			            width: 120px;
					    height: 100px;
					    top: 650px;
					    left: 1080px;
					    background-color: #ccc;
    					background: repeating-linear-gradient( 45deg, #ccc, #ccc 10px, #ddd 10px, #ddd 20px );
					    border-bottom: none;
					    pointer-events: none;
					    &.two {
						    width: 220px;
						    height: 15px;
						    top: 750px;
						    left: 980px;
						    border-top: none;
					    }
					}
				}
			}
			.company-opacity {
			    background: #000000;
			    position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100vh;
			    z-index: 1;
			    opacity: 0.5;
			    display: none;
			    cursor: pointer;
			}
			.company-contents {
			    position: relative;
    			z-index: 2;
				.display {
			    	display: none;
			    	position: fixed;
				    background: #fff;
				    color: #333;
				    top: 50%;
				    left: 50%;
				    transform: translateY(-50%) translateX(-50%);
			        width: 1200px;
				    height: auto;
				    padding: 25px;
				    box-sizing: border-box;
				    border-radius: 4px;
			        cursor: auto;
			        .close-display {
					    position: absolute;
					    right: 0;
					    top: 0;
					    background: #e24f49;
					    width: 16px;
					    height: 16px;
					    padding: 8px;
					    cursor: pointer;
					}
			        .company-logo {
			        	display: block;
			        	margin: 0 auto 40px;
		        	    width: 250px;
					    object-fit: cover;
					    height: 250px;
			        }
				    h1 {
					    font-size: 36px;
					    letter-spacing: 1.6px;
					    padding-bottom: 30px;
					    text-align: center;
					}
					p{
						font-size: 16px;
						margin-bottom: 20px;
					}
					.slick-slider {
					    margin-bottom: 0px;
						.slick-slide {
							img {
							    display: block;
							    width: 100%;
							    height: 400px;
							    object-fit: cover;
							}
						}
					}
			    }
			}
	    }
	}
}