
$pri-font : 'Roboto', sans-serif;
$pri-color : #333;
$sec-color: #C03539;
$def-fontweight: 400;

@mixin bg-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin placeholder-color($color){
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    $color;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    $color;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:    $color;
	}
}

*{
	margin:0;
	padding:0;
}
body{
	font-family:$pri-font;
	letter-spacing: 0.2px;
	font-size:13px;
	line-height: 24px;
	color:$pri-color;
	font-weight:$def-fontweight;
	overflow-x:hidden;
}
.clr{
	clear:both;
}
img{
	position:relative;
	z-index:0;
}
a{
	color: $pri-color;
	text-decoration: none;
	outline: 0;
	transition: all 0.5s ease 0.1s;
}
a:hover{
	text-decoration: none;
	outline: 0;
}
a:active, a:focus {
	outline: 0;
}
input {
    -webkit-appearance: none !important;
    border-radius: 0 !important;
}
.hidden {
	display: none;
}
.opacity {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0.5;
}
section#welcome {
    position: relative;
    width: 100%;
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
	.content {
		display: block;
	    z-index: 1;
	    position: relative;
		h1 {
		    font-size: 32px;
		    text-transform: uppercase;
		    letter-spacing: 2.2px;
		    font-weight: 700;
		    text-align: center;
		    padding-top: 100px;
		    padding-bottom: 30px;
		}
		h2 {
		    font-size: 20px;
		    text-align: center;
		}
		.keuze {
		    display: flex;
		    justify-content: space-around;
		    width: 1200px;
		    margin: 90px auto 0;
		    .block {
	    		.plattegrond {
				    display: block;
				    width: 400px;
				    height: 400px;
				    background: #e74c3c;
				    color: white;
				    text-align: center;
				    line-height: 400px;
				    font-weight: 700;
				    text-transform: uppercase;
				    border-radius: 4px;
				    font-size: 18px;
				    &:hover {
				    	background: #c0392b;
				    }
				}
				.agenda {
					display: block;
				    width: 400px;
				    height: 85px;
				    background: #e74c3c;
				    color: white;
				    text-align: center;
				    line-height: 85px;
				    font-weight: 700;
				    text-transform: uppercase;
				    border-radius: 4px;
				    font-size: 18px;
				    margin-bottom: 20px;
				    &:hover {
				    	background: #c0392b;
				    }
				    &:last-child {
				    	margin-bottom: 0;
				    }
				}
		    }
		}
	}
}
section#plattegrond {
    position: relative;
    display: none;
    width: 100%;
    background: url(../images/background-2.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    .header {
        position: relative;
	    z-index: 2;
	    width: 1200px;
	    margin: 0 auto;
	    input {
	        padding: 15px 15px;
    		font-size: 20px;
		    border-radius: 4px !important;
		    width: 100%;
		    box-sizing: border-box;
		    margin-top: 50px;
	    }
	    #selected-tag {
            position: absolute;
		    top: 50px;
		    padding: 15px;
		    width: 100%;
		    background: #27ae60;
		    border-radius: 4px;
		    color: #fff;
		    font-size: 20px;
		    box-sizing: border-box;
		    line-height: 27px;
		    #reset-search {
		    	img {
				    cursor: pointer;
				    height: 18px;
				    width: 18px;
				    margin-left: 8px;
				    vertical-align: middle;
				}
			}
		}
	}
	.loodsen {
	    position: relative;
	    z-index: 2;
	    width: 1200px;
	    margin: 100px auto 0;
	    display: flex;
	    justify-content: space-between;
	    .loods {
	    	width: 100%;
	    	h2 {
	    		font-size: 20px;
		    	text-align: center;
		    	margin-bottom: 30px;
	    	}
	    	.map {
			    width: 100%;
			    background: #fff;
			    height: 600px;
			    border-radius: 4px;
			    display: flex;
	   			justify-content: space-between;
	   			flex-flow: row wrap;
			    .company {
				    background: #c0392b;
				    width: 18%;
				    height: 50px;
				    cursor: pointer;				    
				    transition: background 0.6s ease 0.1s;
				    &.highlight {
					    background: #27ae60 !important;
					    transition: background 0.6s ease 0.1s;
					    opacity: 1 !important;
					}
				}
			}
			.company-opacity {
			    background: #000000;
			    position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100vh;
			    z-index: 1;
			    opacity: 0.5;
			    display: none;
			    cursor: pointer;
			}
			.company-contents {
			    position: relative;
    			z-index: 2;
				.display {
			    	display: none;
			    	position: fixed;
				    background: #fff;
				    color: #333;
				    top: 50%;
				    left: 50%;
				    transform: translateY(-50%) translateX(-50%);
			        width: 1200px;
				    height: auto;
				    padding: 25px;
				    box-sizing: border-box;
				    border-radius: 4px;
			        cursor: auto;
			        .close-display {
					    position: absolute;
					    right: 0;
					    top: 0;
					    background: #e24f49;
					    width: 16px;
					    height: 16px;
					    padding: 8px;
					    cursor: pointer;
					}
			        .company-logo {
			        	display: block;
			        	margin: 0 auto 40px;
		        	    width: 250px;
					    object-fit: cover;
					    height: 250px;
			        }
				    h1 {
					    font-size: 36px;
					    letter-spacing: 1.6px;
					    padding-bottom: 30px;
					    text-align: center;
					}
					p{
						font-size: 16px;
						margin-bottom: 20px;
					}
					.slick-slider {
					    margin-bottom: 0px;
						.slick-slide {
							img {
							    display: block;
							    width: 100%;
							    height: 400px;
							    object-fit: cover;
							}
						}
					}
			    }
			}
	    }
	}
}